* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5px;
  background-color: #000;
  color: whitesmoke;
  /* display: flex; */
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 20px;
}

.container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
}

.underline {
  border-bottom: 5px solid yellow;
  width: 90px;
}

.reviews {
  /* border: 2px solid grey; */
  width: 70%;
  /* height: 70%; */
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
  margin-bottom: 10px;
}
.author {
  text-align: center;
  margin: 5px;
}

.job {
  text-align: center;
  color: yellow;
  margin: 10px;
  font-weight: bolder;
}
.info {
  text-align: center;
  color: white;
}

.icon {
  color: yellow;
  margin: 4px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.btn {
  color: yellow;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  margin: auto 5px;
}

.surprise-me {
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  font-size: 1.1rem;
  /* align-self: start; */
}

.btn:hover {
  border: 1px solid yellow;
  border-radius: 5px;
  margin: 4px;
  font-size: small;
}
.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
